body::before {
    display: block;
    content: '';
    height: 60px;
}


@media(min-width: 768px) {
    .news-inputs {
        width: 100%;
        float: inline-end;
        border-radius: 1em;
    }
}

body {
    background-color: hsl(0, 0%, 98%)
  }